<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  </head>
  <body>
    <h1>Anonim blog</h1>
    <div class="panel panel-primary panel-heading">
                <h2>List articles</h2>
                {% for item in posts %}<br>
                    <b>Title:</b> <a href="/{{item.id}}">{{ item.title }}</a><br>
                    <b>Date:</b> {{ item.date_created }}<br>
                    <b>Content:</b><i> {{ item.content }}</i><br>
                {% endfor %}<br>
    </div>
    <div class="container">
        <form method="post">
            <fieldset>
                <div class="panel panel-primary panel-heading">
                    <legend><h2>New article</h2></legend>
                    <div class="panel-title">Title</div>
                    <input type="text" class="panel-body" name="title" value="">
                    <br>
                    <br>
                    <div class="panel-title">
                        Date: <i> {{date_today}}</i>
                    </div>
                    <br>
                    <div class="panel-title">
                        <input type="hidden"  name="id" value="new" size=65>
                    </div>
                    <br>
                    <div class="panel-title">Content</div>
                    <textarea class="panel-body" name="content" cols="40" rows="3"></textarea><br>
                    <input type="submit" class="btn btn-lg btn-primary" value="Submit">
                </div>
            </fieldset>
        </form>
    </div>
    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
  </body>
</html>